body {
    font-family: "Mona Sans", sans-serif;
}
table{
    width: 100%;
    border-collapse: collapse;
    /*border: 10px solid pink;*/
}
.reading-list{
    text-align: center;
    font-size: 40px;
    color: black;
}
th, td{
    display: -ms-inline-grid;
    /* border-bottom: 1.5px solid grey; */
    text-align: left;
}
td{
    
    font-size: 1.5rem;
}
td:hover{
    background-color: #FFF7F7;
}
th{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 10;
}

li {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: aqua;
}

button {
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: darkred;
}

.book{
    margin-bottom: 15px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.actions{
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.actions a{
    text-decoration: none;
    color: #6286be;
    background-color: white;
    padding: 5px 10px;
    border-radius: 6px;
}
.actions button{
    
    text-decoration: none;
    color: crimson;
    background-color: white;
    padding: none;
    border: none;
}
.filter{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}
.filter h3{
    font-size: 1.5rem;
    font-family: Funnel Sans, sans-serif;
    font-weight: normal;
}
select{
    font-size: 1rem;
    padding: 11px 0;
    border-radius: 8px;
}

.xyz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5rem;
}
.xyz a{
    text-decoration: none;
    color: black;
    background-color: pink;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 25px;
}